// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
}

// Imports
@import "base/base";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "spinkit";
@import "bootstrap-datetimepicker.min";
@import "daypicker";

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: HelveticaNeue;
  line-height: $base-line-height;
  font-weight: 200;
}

form {
  label {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 100;

    &.required {
      font-weight: bold;
    }
  }

  .form-control {
    box-shadow: none;
    border-radius: 2px;
    border-color: #ECECEC;

    &.invalid {
      border-color: red;
    }

    &:focus {
      box-shadow: none;
    }
  }

  select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-repeat:no-repeat;
    background-position: right 4px top 12px;
    background-size: 10px 10px;
    padding: 6px 12px;
    outline: 0;
    width: 100%;
    border-radius: 3px;
    border-color: #ECECEC;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
  }
}

.subtitle {
  width: 75%;
  border-bottom: 2px solid #DADBE2;
  opacity: 0.7;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 25px auto;
}

.well {
  background-color: white;
  box-shadow: 5px, 1px, #000;
}

.event-list-item {
  transition: box-shadow .2s cubic-bezier(0,.2,.4,1);
  box-shadow: none;

  &:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15)
  }

  .name {
    font-weight: bold;
    font-size: 24px;
  }

  .dates, .location {
    color: $medium-gray;
    float: right;
  }

  .host {
    font-size: 16px;
  }

  .description {
    color: $medium-gray;
  }
}