// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

// Imports
@import "base/base";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: 200;
}
